$border3px: 3px;
$border6px: 6px;
$style: solid;
$color-boder: #000;
$color-bg: rgb(255, 255, 255);
$padding: 10px;
$radius: 15px;
@mixin hover {
    box-shadow: 5px 5px 10px black;
}
@mixin img {
    width: 225px;
    height: 225px;
    margin: 5px;
    margin-bottom: 15px;
    padding: 10px;
}
@mixin img56 {
    border-radius: 50%;
    padding: 20px;
}