$border3px: 3px;
$border6px: 6px;
$style: solid;
$color-boder: #000;
$color-bg: rgb(255, 255, 255);
$padding: 10px;
$radius: 15px;
@mixin hover {
    box-shadow: 5px 5px 10px black;
}
@mixin img ($bradius, $bsize, $bstyle, $bcolor, $bgcolor){
    border-radius: $bradius;
    border: $bsize $bstyle $bcolor;
    background-color: $bgcolor;
}